<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Squadre</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
	    	<span class="navbar-brand mb-0 h1">Profilo Squadra</span>
	  	</div>
	</nav>	
	<div class="card text-center">
	  	<div class="card-header">	    
	  	</div>
	  	<div class="card-body">
		  	<div th:if="${distinzioneSchermata == 'false'}">
			  	<h3 class="card-title" th:text="'[' + ${singolaSquadra.nameTag} + ']' + ${singolaSquadra.nomeSquadra}"></h3>
			</div>
			<div th:if="${distinzioneSchermata == 'true'}">			  	
	    		<h3 class="card-title" th:text="${singolaSquadra.nomeSquadra}"></h3>	  
			</div>  
		    <b>Videogioco</b> : <span th:text=${singolaSquadra.giocoSquadra}></span>
	    	</br>	
	    	<hr>
	    	<h5><p class="card-text">Componenti</p></h5>
	    	<div class="row justify-content-center">
	    		<div class="col-1" th:each="componente, iterStat : ${singolaSquadra.componenti}">					
					<a th:href="@{/giocatore/{playerId}(playerId=${componente.id})}"/><span th:text="${componente.nikname}"></span></a>	
				</div>
			</div>
	    	<hr>   
	  	</div>
	  	<div th:if="${distinzioneSchermata == 'true'}">
		  	<div class="row">
			  <div class="col"><b>Numero di major vinte: </b><span th:text="${singolaSquadra.numeroMajorVinte}"></span> </div>			  
			  <div class="col"><b>Totale vincite: </b><span th:text="${singolaSquadra.totalWinning}"></span> </div>
			</div>
		</div>		
	  	<h4 style="padding: 20px; margin-top: 20px; margin-bottom:20px;">Partite Squadra</h4>
	  	<table class="table table-striped table-bordered " style="text-align:center;">
			<thead>
				<th scope="col">Home</th>			
				<th scope="col">Visitors</th>
				<th scope="col">Punteggio</th>
			</thead>
			<tbody>
				<tr scope = "row" th:each="partita : ${singolaSquadra.getPartiteSvolte()}" >
					<td > <a th:href="@{/squadra/{teamId}(teamId=${partita.home.id})}"/><span th:text="${partita.home.nomeSquadra}"></span></a></td>
					<td > <a th:href="@{/squadra/{teamId}(teamId=${partita.against.id})}"/><span th:text="${partita.against.nomeSquadra}"></span></a></td>
					<td th:text="${partita.homeRounds + '-' + partita.againstRounds}"></td>				
				</tr>
			</tbody>
		</table>
		
	  	<div class="card-footer text-muted">
	      	<a th:href="@{/squadre}" class="btn btn-primary">Torna alle squadre</a>	      
	  	</div>
	</div>
	<!-- Footer -->
	<footer class="page-footer font-small blue" style="position:fixed; bottom:0; width:100%; text-align:center">
		<nav class="navbar navbar-light bg-light">
	  		<div class="container-fluid">
	    <a class="navbar-brand" th:href="@{/}">Home</a>
	    <button type="button" class="btn btn-light"><a th:href="@{/eliminaSquadra/{squadraId}(squadraId=${singolaSquadra.id})}" method="get">Elimina squadra</a>
	    <!-- <button type="button" class="btn btn-light"><a th:href="@{/modificaGiocatore/{playerId}(playerId=${singolaSquadra.id})}" method="post">Modifica squadra</a></button> -->
	  </div>
	</nav>
	</footer>
	<!-- Footer -->
</body>
</html>