<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Squadre</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <div class="container-fluid">
	    <span class="navbar-brand mb-0 h1">Storico partite <b th:text = "${partiteTorneo.nomeTorneo}"></b></span>
	  </div>
	  <form class="container-fluid">
	    <div class="input-group">
	      <span class="input-group-text" id="basic-addon1">@</span>
	      <input type="text" class="form-control" placeholder="Cerca Torneo" aria-label="Username" aria-describedby="basic-addon1">
	    </div>
 	 </form>
	</nav>
	<table  class="table table-striped table-bordered " style="text-align:center">
		<thead>
			<th scope="col">Home</th>			
			<th scope="col">Visitors</th>
			<th scope="col">Punteggio</th>
			<th scope="col">Azione</th>
		</thead>
		<tbody>
			<tr scope = "row" th:each="partita : ${partiteTorneo.getPartiteTorneo()}" >
				<td > <a th:href="@{/squadra/{teamId}(teamId=${partita.home.id})}"/><span th:text="${partita.home.nomeSquadra}"></span></a></td>
				<td > <a th:href="@{/squadra/{teamId}(teamId=${partita.against.id})}"/><span th:text="${partita.against.nomeSquadra}"></span></a></td>
				<td th:text="${partita.homeRounds + '-' + partita.againstRounds}"></td>
				<td> 	
					<a th:href="@{/eliminaPartita/{partitaId}/{torneoId}(partitaId=${partita.id},torneoId=${partiteTorneo.id})}" class="btn btn-primary">Elimina</a> 
					<a th:href="@{/modificaPartita/{torneoId}/{partitaId}(torneoId=${partiteTorneo.id},partitaId=${partita.id})}" class="btn btn-primary">Modifica</a> 
				</td>		
			</tr>
			
		</tbody>
	</table>
	<hr/>
	<!-- Footer -->
	<footer class="page-footer font-small blue" style="position:fixed; bottom:0; width:100%; text-align:center">
		<nav class="navbar navbar-light bg-light">
	  		<div class="container-fluid">
	    		<a class="navbar-brand" th:href="@{/}">Home</a>
	    		<button th:if="${partiteTorneo.getMajorAppartenenza()==null}" type="button" class="btn btn-light"><a th:href="@{/modificaTorneo/{torneoId}(torneoId=${partiteTorneo.id})}" method="get">Modifica Torneo</a>
	    		<button th:if="${partiteTorneo.getMajorAppartenenza()==null}" type="button" class="btn btn-light"><a th:href="@{/inserimentoPartita/{torneoId}(torneoId=${partiteTorneo.id})}" method="get">Crea partita Torneo</a>	    		
	  		</div>
		</nav>
	</footer>
	<!-- Footer -->
</body>
</html>